//Fonts Family
$font-family-base: "Lexend Deca", sans-serif;
$font-family-heading: "Big Shoulders", sans-serif;

// Font Weight
$font-weight-regular: 400;
$font-weight-bold: 700;

// Font Sizes
$font-size-base: 0.94rem; //15px
$font-size-xl: 2.19rem; //35px

// Line Heights
$line-height-tight: 1.6;
